name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run TypeScript check
        run: bun x tsc --noEmit

      - name: Run tests
        run: bun test
        env:
          SERVER_HOST: 127.0.0.1:3000
          STRIPE_SECRET: rk_test_foo
          GITHUB_CLIENT_ID: foo
          GITHUB_SECRET: foo
          GOOGLE_CLIENT_ID: foo
          GOOGLE_SECRET: foo
          COOKIE_SECRET: insecure!
          RESEND_KEY: re_foo
          TOTP_SECRET: insecure!
